<div>
  <h1>Actor #<%= @actor.id %></h1>
</div>

<dl>
  <dt>Dob</dt>
  <dd><%= @actor.dob %></dd>

  <dt>Name</dt>
  <dd><%= @actor.name %></dd>

  <dt>Bio</dt>
  <dd><%= @actor.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @actor.image_url %>"></dd>

</dl>